<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UpdateService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <UpdateService.Properties.Settings>
            <setting name="CometURL" serializeAs="String">
                <value>http://comet.apphb.com/comet.axd</value>
            </setting>
            <setting name="CometChannel" serializeAs="String">
                <value>build/test-system-dev</value>
            </setting>
            <setting name="UpdaterExecutable" serializeAs="String">
                <value>bin\rake.bat</value>
            </setting>
            <setting name="UpdaterFolder" serializeAs="String">
                <value>_Updater</value>
            </setting>
            <setting name="UpdaterParameters" serializeAs="String">
                <value>-f download\openbook2-dev.rb say_hi build={build}</value>
            </setting>
            <setting name="Downloads" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://ob2deploy:qwer1234@cf-na-east-01.opsourcecloud.net/dav/builds/Test-{build}.txt</string>
                        <string>https://ob2deploy:qwer1234@cf-na-east-01.opsourcecloud.net/dav/configs/openbook2-dev.rb</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>download</value>
            </setting>
        </UpdateService.Properties.Settings>
    </applicationSettings>
</configuration>
